<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
	<session-factory> 
		<!-- CONFIGURACOES ORDEM DE SERVICO  PROJETO LIMPO NOVO -->

		
		
		<!-- Settings for local development -->
		 
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/ordemservicobd3</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		 
		
		
		<!-- Settings for Jelastic  DEMO -->
		<!-- 
		 
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://node170989-osdemo.jelasticlw.com.br/osdbdemo</property>
		<property name="hibernate.connection.username">webadmin</property>
		<property name="hibernate.connection.password">ASFleb18835</property>
		 -->


		<property name="hibernate.connection.pool_size">3</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

	    <property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.dialect"></property>

		<!-- mapeamento das entidades -->

		<mapping class="br.com.os.domain.OS" />
		<mapping class="br.com.os.domain.Item" />
		<mapping class="br.com.os.domain.ProdutoOS" />
		<mapping class="br.com.os.domain.Usuario" />
		


	</session-factory>
</hibernate-configuration>